# Node/Bun dependencies
node_modules/
bun.lockb

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Editor folders/files
.vscode/
.idea/
*.swp

# Output files
dist/
build/
